<head>
    <meta charset="utf-8">
    <title>jQuery.getJSON demo</title>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
</head>
<body>
<script>
    jquery.getJSON('../Uploads/noeud.json', function(data){
        alert(data)
    });
    </script>