<html>
    <head>
        <style>
            #Champ
            {
                display: block;
                	width: 150px;

            }
        </style>
    </head>





<form method="post" action="/ajout/noeud">

    <input type="radio" id="TACHE"
           name="noeud" value="TACHE">
    <label for="TACHE">Tâche</label>
    <br>

    <input type="radio" id="ACTION"
           name="noeud" value="ACTION">
    <label for="ACTION">Action</label>
    <br>
    <input type="radio" id="OBJECTIF"
           name="noeud" value="OBJECTIF">
    <label for="OBJECTIF">Objectif</label>


    <br>
    <input type="radio" id="ENJEU"
           name="noeud" value="ENJEU">
    <label for="ENJEU">Enjeu</label>
    <br>
    <input type="radio" id="TRANSITION"
           name="noeud" value="TRANSITION">
    <label for="TRANSITION">Transition</label>


<div id="Champ"/>
    <br><br>
    <label id="champ_nom"> Nom </label>
        <input type="text" name="name">
    <label id="champ_quoi"> Quoi? </label>
        <input type="text" name="quoi">

      <br>
        <label id="champ_pourquoi"> Pourquoi? </label>
            <input type="text" name="pourquoi">
     <br>
            <label id="champ_qui"> Qui? </label>
                <input type="text" name="qui">
         <br>
                <label id="champ_quand"> Quand? </label>
                    <input type="text" name="quand">
             <br>
                    <label id="champ_comment"> Comment? </label>
                        <input type="text" name="comment">
       <br>
              <label id="champ_plus"> Plus </label>
                  <input type="text" name="plus">
         <br>
                <label id="champ_moins"> Moins </label>
                    <input type="text" name="moins">
          <br>
                 <label id="champ_proposeur"> Proposition de  </label>
                     <input type="text" name="proposeur">
            <br>
                   <label id="champ_remarque"> Remarques </label>
                       <input type="text" name="remarque">
             <br>
                    <label id="champ_attachement"> Attachements </label>
                        <input type="text" name="attachements">
    <br>

            <label> Complexité </label>
                <input type="text" name="z1">
         <br>
         <br>
                 <label> Niveau de maîtrise interne </label>
                     <input type="text" name="z2">
              <br>
              <br>
                      <label > Temporalité de déploiement </label>
                          <input type="text" name="z3">
                   <br>
                   <br>
                           <label > Périmètre concerné </label>
                               <input type="text" name="z4">
                        <br>
                        <br>
                                <label> Coût </label>
                                    <input type="text" name="z5">
                             <br>
                             <br>
                                     <label> Energie globale </label>
                                         <input type="text" name="z6">
                                  <br>
                                  <br>
                                          <label> Risque ressenti </label>
                                              <input type="text" name="z7">
                                       <br>
                                       <br>
                                               <label> Bénéfice attendu </label>
                                                   <input type="text" name="z8">
                                            <br>
                        <br>
                                         <label> Caractère mobilisateur </label>
                                           <input type="text" name="z9">
                                          <br>
                                         <br>
                                          <label> Caractère novateur </label>
                                          <input type="text" name="z10">
                                           <br>



                         <input type="submit" name="Valider">

</html>