<html>
<head>
    <style>
        #Saut
        {
            display: block;
            width: 250px;
            font: 10pt Arial;
            float: left;

        }
        h3{font: 12pt Arial}
        #lien{
            float: left;
            width: 250px;
            font: 10pt Arial;
        }
        #ok{float: none}
        #complexite{
            display: block;
            width: 250px;
            font: 10pt Arial;
            float: left;
        }
        #ndmi{
            display: block;
            width: 250px;
            font: 10pt Arial;
            float: left;}
        #tdd{
            display: block;
            width: 250px;
            font: 10pt Arial;
            }
        #pc{
            display: block;
            width: 250px;
            font: 10pt Arial;
            float: left ;
            }
        #cout{
            display: block;
            width: 250px;
            font: 10pt Arial;
            float: left;

        }
        #rr{
            display: block;
            width: 250px;
            font: 10pt Arial;
            float: left;}
        #ba{
            display: block;
            width: 250px;
            font: 10pt Arial;
            float: left;}
        #eg{
            display: block;
            width: 250px;
            font: 10pt Arial;
            float: left;}
        #cn{
            display: block;
            width: 250px;
            font: 10pt Arial;
            float: left;}
        #cm{
            display: block;
            width: 250px;
            font: 10pt Arial;
            float: left;
         }
        #parente{
            display: block;
            width: 250px;
            font: 10pt Arial;
            float: left;
        }



    </style>
</head>
<div id="Saut">
    <h3> Filtre sur un nombre de lien :</h3>
<form method="post" action="/filtrer/noeud">
    <input type="radio" id="1"
           name="saut" value="1">
    <label for="1">1</label>
    <br>

    <input type="radio" id="2"
           name="saut" value="2">
    <label for="2">2</label>
    <br>
    <input type="radio" id="3"
           name="saut" value="3">
    <label for="3">3</label>
</div>
<div id="parente">
    <h3> Voir les liens:</h3>
    <input type="checkbox" name="asc" value="asc" /> Ascendant
    <br>
    <input type="checkbox" name="des" value="des" /> Descendant
</div>
<div id="lien">
    <h3> Coût des liens:</h3>
    <input type="checkbox" name="cout1" value="1" /> 1
    <br>
    <input type="checkbox" name="cout2" value="2" /> 2
    <br>
    <input type="checkbox" name="cout3" value="3" /> 3
    <br>
    <input type="checkbox" name="cout4" value="4" /> 4
    <br>
    <input type="checkbox" name="cout5" value="5" /> 5
</div>
<div id="complexite">
    <h3> Complexité:</h3>
    <input type="checkbox" name="comp1" value="1" /> 1
    <br>
    <input type="checkbox" name="comp2" value="2" /> 2
    <br>
    <input type="checkbox" name="comp3" value="3" /> 3
    <br>
    <input type="checkbox" name="comp4" value="4" /> 4
    <br>
    <input type="checkbox" name="comp5" value="5" /> 5


</div>
<div id="ndmi">
    <h3> Niveau de maîtrise interne:</h3>
    <input type="checkbox" name="ndmi1" value="1" /> 1
    <br>
    <input type="checkbox" name="ndmi2" value="2" /> 2
    <br>
    <input type="checkbox" name="ndmi3" value="3" /> 3
    <br>
    <input type="checkbox" name="ndmi4" value="4" /> 4
    <br>
    <input type="checkbox" name="ndmi5" value="5" /> 5


</div>
<div id="tdd">
    <h3> Temporalité de déploiement:</h3>
    <input type="checkbox" name="tdd1" value="1" /> 1
    <br>
    <input type="checkbox" name="tdd2" value="2" /> 2
    <br>
    <input type="checkbox" name="tdd3" value="3" /> 3
    <br>
    <input type="checkbox" name="tdd4" value="4" /> 4
    <br>
    <input type="checkbox" name="tdd5" value="5" /> 5


</div>

<div id="pc">
    <h3> Périmètre concerné:</h3>
    <input type="checkbox" name="pc1" value="1" /> 1
    <br>
    <input type="checkbox" name="pc2" value="2" /> 2
    <br>
    <input type="checkbox" name="pc3" value="3" /> 3
    <br>
    <input type="checkbox" name="pc4" value="4" /> 4
    <br>
    <input type="checkbox" name="pc5" value="5" /> 5


</div>

<div id="cout">
    <h3> Coût:</h3>
    <input type="checkbox" name="cout1" value="1" /> 1
    <br>
    <input type="checkbox" name="cout2" value="2" /> 2
    <br>
    <input type="checkbox" name="cout3" value="3" /> 3
    <br>
    <input type="checkbox" name="cout4" value="4" /> 4
    <br>
    <input type="checkbox" name="cout5" value="5" /> 5


</div>
<div id="eg">
    <h3> Energie globale:</h3>
    <input type="checkbox" name="eg1" value="1" /> 1
    <br>
    <input type="checkbox" name="eg2" value="2" /> 2
    <br>
    <input type="checkbox" name="eg3" value="3" /> 3
    <br>
    <input type="checkbox" name="eg4" value="4" /> 4
    <br>
    <input type="checkbox" name="eg5" value="5" /> 5


</div>
<div id="rr">
    <h3> Risque ressenti:</h3>
    <input type="checkbox" name="rr1" value="1" /> 1
    <br>
    <input type="checkbox" name="rr2" value="2" /> 2
    <br>
    <input type="checkbox" name="rr3" value="3" /> 3
    <br>
    <input type="checkbox" name="rr4" value="4" /> 4
    <br>
    <input type="checkbox" name="rr5" value="5" /> 5


</div>
<div id="ba">
    <h3> Bénéfice attendu:</h3>
    <input type="checkbox" name="ba1" value="1" /> 1
    <br>
    <input type="checkbox" name="ba2" value="2" /> 2
    <br>
    <input type="checkbox" name="ba3" value="3" /> 3
    <br>
    <input type="checkbox" name="ba4" value="4" /> 4
    <br>
    <input type="checkbox" name="ba5" value="5" /> 5


</div>
<div id="cn">
    <h3> Caractère novateur:</h3>
    <input type="checkbox" name="cn1" value="1" /> 1
    <br>
    <input type="checkbox" name="cn2" value="2" /> 2
    <br>
    <input type="checkbox" name="cn3" value="3" /> 3
    <br>
    <input type="checkbox" name="cn4" value="4" /> 4
    <br>
    <input type="checkbox" name="cn5" value="5" /> 5


</div>
<div id="cm">
    <h3> Caractère mobilisateur:</h3>
    <input type="checkbox" name="cm1" value="1" /> 1
    <br>
    <input type="checkbox" name="cm2" value="2" /> 2
    <br>
    <input type="checkbox" name="cm3" value="3" /> 3
    <br>
    <input type="checkbox" name="cm4" value="4" /> 4
    <br>
    <input type="checkbox" name="cm5" value="5" /> 5


</div>


<br><br><br>
<input type="hidden" id="id_noeud" name="noeud">
<input type="submit" name="valider" id="ok">
</form>
<script type="text/javascript">
    let a = <%=noeud%>
        document.getElementById("id_noeud").value = a;

</script>


</html>
