
html, body {
    font: 10pt arial;
    background-color: white;
    color: #cae8d5;

}


#mynetwork {
    width: 1200px;
    height: 1000px;
    float: left;


}
#eventSpan{
    font: 10pt Arial;
    color: black;
    white-space : pre-wrap;

}
#champ_nom {
    padding-left: 3rem;
}
#ok_lien{
    margin-left: 5rem;
}

#redir{
    color: mediumpurple;
    font: 12pt Arial;
    font-weight: bold;
}
#modif{
    background-color: #204051;
    padding: 3rem;
}
h3{
    text-decoration: underline;

}
#reinitialiser{
    float: left;
    margin-right: 2rem;
}


