
<!doctype html>

<html>
<head>
    <meta charset="utf-8">
    <title> Visualisation graphe </title>
    <script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.js"
            integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
            crossorigin="anonymous"></script>


    <link rel="stylesheet" type="text/css" href="index.css" />
    <script type="text/javascript">
        function openWin(url){
            newwin=window.open(url,'','width=400,height=400,top=200,left=200');
            if(newwin){
                window.onfocus=function(){newwin.window.close()}
            }
        }</script>
</head>
<script type="text/javascript">

    // create a network
    function draw() {
        var container = document.getElementById("mynetwork");
        var options = {
            edges: {
                arrows: {
                    to: {enabled: true, scaleFactor: 0.75, type: 'arrow'}
                },
                color: {
                    // color:'#848484',
                    color: 'grey',
                    highlight: 'red',
                    hover: 'red',
                    inherit: 'from',
                    opacity: 1.0
                },
                width: 2
            },
            physics: {
                barnesHut: {
                    gravitationalConstant: -500,
                    centralGravity:0.1,
                    // springLength: 95,
                    springLength: 750,
                    springConstant: 0.01,
                    damping: 0.09,
                    avoidOverlap: 0
                },
            },


        }


        $.getJSON("doute.json")
            .done(function (json) {
                var data = {
                    nodes: new vis.DataSet(json.nodes),
                    edges: new vis.DataSet(json.edges)
                }
                console.log(json)

                var network = new vis.Network(container, data, options);
                network.on("click", function (params) {
                    console.log(params.nodes)
                    params.event = "[original event]";
                    for (let i = 0; i < json.nodes.length; i++) {

                        if (json.nodes[i].id == params.nodes) {
                            document.getElementById("eventSpan").innerHTML =
                                "<h2>Noeud sélectionné:</h2>" + "<b> Nom :</b> " + json.nodes[i].nom +
                                "\n <b>Type:</b> " + json.nodes[i].type +
                                "\n <b>ID:</b>  " + json.nodes[i].id +
                                "\n <b>Quoi :</b> " + json.nodes[i].quoi +
                                "\n <b>Pourquoi :</b> " + json.nodes[i].pourquoi +
                                "\n <b> Qui :</b> " + json.nodes[i].qui +
                                "\n <b> Quand :</b> " + json.nodes[i].quand +
                                "\n <b> Comment: </b> " + json.nodes[i].comment +
                                "\n <b> Qui :</b>" + json.nodes[i].qui +
                                "\n <b> Plus :</b> " + json.nodes[i].plus +
                                "\n <b> Moins :</b> " + json.nodes[i].moins +
                                "\n <b> Proposition de:</b> " + json.nodes[i].proposeur +
                                "\n <b> Attachement: </b> " + json.nodes[i].attachement +
                                "\n <b> Remarques: </b>  " + json.nodes[i].remarques +
                                "\n <b> Complexité: </b>  " + json.nodes[i].z1 +
                                "\n <b> Niveau de maîtrise interne: </b>  " + json.nodes[i].z2 +
                                "\n <b> Temporalité de deploiement: </b>  " + json.nodes[i].z3 +
                                "\n <b> Périmètre concerné: </b>  " + json.nodes[i].z4 +
                                "\n <b> Coût: </b>  " + json.nodes[i].z5 +
                                "\n <b> Energie globale: </b>  " + json.nodes[i].z6 +
                                "\n <b> Risque ressenti: </b>  " + json.nodes[i].z7 +
                                "\n <b> Bénéfice attendu: </b>  " + json.nodes[i].z8 +
                                "\n <b> Caractère mobilisateur: </b>  " + json.nodes[i].z9 +
                                "\n <b> Caractère novateur: </b>  " + json.nodes[i].z10 +


                            "\n<form method=\"post\" action=\"/supp/noeud\">" +
                                "<input type=\"hidden\" name=\"id_a_supp\" id=\"coeur\"><br>" +
                                "<input type=\"submit\" name=\"Valider\" value=\"Supprimer le noeud\">" +
                                "</form>"

                                +"<form method=\"post\" action=\"/vue/modif\">" +
                                "<input type=\"hidden\" name=\"id_a_modif\" id=\"modifier\"></label> <br>" +
                                "<input type=\"submit\" name=\"Valider\" value=\"Modifier le noeud\">" +
                                "</form>"

                                + " <form method=\"post\" action=\"/creation/relation\">" +
                                "<br>" +
                                "<input type=\"text\" name=\"id1\" id=\"id_1\"> <br>" +
                                "<input type=\"text\" name=\"id2\" id=\"id_2\"></label> <br>" +
                                "<input type=\"button\" name=\"Valider\" id='creer' value=\"Creer lien\">" +
                                "<input type=\"submit\" id='ok' name=\"Valider\" value=\"Confirmer" +"\">" +
                                "\n<input type=\"radio\" id=\"1\"" +
                                "name=\"cout\" value=\"1\">" +
                                "<label for=\"1\">1</label>" +
                                " \n<input type=\"radio\" id=\"2\"" +
                                "name=\"cout\" value=\"2\">" +
                                "<label for=\"2\">2</label>" +
                                "\n" +
                                "<input type=\"radio\" id=\"3\"" +
                                "name=\"cout\" value=\"3\">" +
                                "<label for=\"3\">3</label>" +
                                "\n" +
                                "<input type=\"radio\" id=\"4\"" +
                                "name=\"cout\" value=\"4\">" +
                                "<label for=\"4\">4</label>" +
                                "\n" +
                                "<input type=\"radio\" id=\"5\"" +
                                "name=\"cout\" value=\"5\">" +
                                "<label for=\"5\">5</label>\n" +
                                "</form>"+



                                "<form method=\"post\" action=\"/filtrer\">" +
                                "<input type=\"hidden\" name=\"noeud_a_filtrer\" id=\"filtrer\"> <br>" +
                                "<input type=\"submit\" name=\"Valider\" value=\"Filtrer\">" +
                                "</form>"
                            document.getElementById('ok').style.visibility = 'hidden';
                            document.getElementById("coeur").value = params.nodes;
                            document.getElementById("filtrer").value = params.nodes;
                            document.getElementById("modifier").value = params.nodes;

                            $("#creer").click(function () {
                                let a = params.nodes
                                network.on("click", function (set) {
                                    document.getElementById("id_1").value = a;
                                    console.log(a)
                                    for (let i = 0; i < json.nodes.length; i++) {

                                        if (json.nodes[i].id == set.nodes) {
                                            document.getElementById("id_2").value = set.nodes
                                        }
                                    }
                                    document.getElementById('ok').style.visibility = 'visible';
                                })
                            })

                        }
                        for (let i = 0; i < json.edges.length; i++) {
                            if (json.edges[i].id == params.edges && params.nodes.length==0) {
                                console.log(params.nodes)
                                document.getElementById("eventSpan").innerHTML =
                                    "<h2>Relation sélectionnée:</h2>" +
                                    " label :" + json.edges[i].label +
                                    "\n id : " + json.edges[i].id + "\n <form method=\"post\" action=\"/supp/relation\">" +
                                    "<input type=\"hidden\" name=\"rel_a_supp\" id=\"supp_rel\"></label> <br>" +
                                    "<input type=\"submit\" name=\"Valider\" value=\"Supprimer la relation\">" +
                                    "</form>"
                                document.getElementById("supp_rel").value = params.edges;
                                break

                            }
                        }
                    }

                })
            })
    }

</script>




<div id="modif">


    <a id ="redir" href="/vue/creation"> Créer un noeud </a>




<br>


    <h3> Ajout Enjeux</h3>
    <form method="post" action="/import/enjeux" enctype="multipart/form-data">
    <input type="file" id="file_enjeux" name="Chosir un fichier" accept=".csv">
        <input id="ok_import_enjeux" type="submit" name="Valider">
    </form>
    <h3> Ajout Transitions</h3>
    <form method="post" action="/import/transitions" enctype="multipart/form-data">
        <input type="file" id="file_transitions" name="Chosir un fichier" accept=".csv">
        <input id="ok_import_transitions" type="submit" name="Valider">
    </form>
    <h3> Ajout Propositions</h3>
    <form method="post" action="/import/propositions"  enctype="multipart/form-data">
        <input type="file" id="file_propositions" name="Chosir un fichier" accept=".csv">
        <input id="ok_import_propositions" type="submit" name="Valider">
    </form>
    <form method="post" action="/reinit"><br>
        <input id="reinitialiser" type="submit" name="Valider" value="Réinitialiser">
    </form>
    <form method="get" action="/download">
   <input id="dl" type="submit" value="Télécharger en CSV"> </form>
    <br>
    <button class="tous_supp" type="button" id="supp_bouton">Supprimer toutes les données</button>
    <form method="post" action="/deco">
        <input id="deco" type="submit" value="Se déconnecter"> </form>

</div>
<script>
    $('.tous_supp').click(function () {
        if(confirm("Etes vous sûr de vouloir supprimer toutes les données ?\n Cette action est irréversible")) {
            $.post('/tous_supp')
            setTimeout(function(){
                location.reload()},1000)
            }

        }
    )
</script>
<body onload="draw()">
<div id = "mynetwork"></div>
<pre id="eventSpan">
</pre>
</body>
</html>